.modal {
  display: flex;

  align-items: center;
  justify-content: left;
}

.modal-content {
  display: flex;
background-color: #ccc;
  align-items: center;
  justify-content: center;
}

.submit-button {
  padding: 10px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #3d80e3;
  color: white;
  cursor: pointer;
}
